.business {
  background: #1b1b1b;
  padding: 106px;
  margin-top: 100px;
  position: relative;
  .section_title {
    color: #fff;
    position: relative;
    z-index: 22;
    span {
      color: #606060;
    }
  }
  &_items {
    gap: 17px 30px;
    list-style: none;
    margin-top: 84px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 5;
      pointer-events: none;
      background: radial-gradient(
          circle at center,
          rgba(0, 0, 0, 0) 30%,
          rgba(0, 0, 0, 0.1) 80%,
          rgba(0, 0, 0, 1) 100%
        ),
        linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 40%),
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, transparent 40%),
        linear-gradient(to left, rgba(0, 0, 0, 1) 0%, transparent 40%),
        linear-gradient(to right, rgba(0, 0, 0, 1) 0%, transparent 40%);
    }

    a {
      color: #919191;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 45px;
      border-radius: 40px;
      border: 1px solid #323232;
      background: #1b1b1b;
      text-decoration: none;
      padding: 2px 25px;
      display: block;
      transition: all 0.2s linear;
      &:hover {
        color: #0b0b0b;
        background: #fff;
      }
    }
  }
  &_bottom {
    color: #a4a4a4;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    max-width: 620px;
    margin-top: 85px;
    position: relative;
    z-index: 5;
    span {
      color: #fff;
    }
  }
}
