.footer {
  padding-top: 90px;
  padding-bottom: 30px;
  @media (max-width: 992px) {
    padding-top: 50px;
  }
  @media (max-width: 768px) {
    padding: 30px 15px;
    padding-top: 40px;
  }
  .container {
    border-radius: 16px;
    background: #0d0b0e;
    padding: 58px 40px 32px 60px;
    @media (max-width: 992px) {
      padding: 58px 20px 32px 20px;
    }
    @media (max-width: 556px) {
      padding: 38px 18px 22px 15px;
    }
  }
  &_title {
    text-align: center;
    color: #5a585b;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    @media (max-width: 992px) {
      font-size: 32px;
    }
    @media (max-width: 556px) {
      font-size: 20px;
      line-height: normal;
    }

    span {
      color: #f0f0f0;
    }
  }
  .button {
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 245px;
    text-align: center;
    width: 100%;
    margin-top: 38px;
    justify-content: center;
    @media (max-width: 556px) {
      margin-top: 20px;
    }
    @media (max-width: 446px) {
      max-width: 175px;
    }
  }
  &_content {
    color: #8f8d90;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 32px;
    @media (max-width: 556px) {
      margin-top: 20px;
      font-size: 12px;
    }
    span {
      color: #20ae44;
    }
  }
  &_button {
    position: relative;
    width: 100%;
    img {
      position: absolute;
      right: 140px;
      bottom: 14px;
      width: 18px;
      @media (max-width: 992px) {
        right: 100px;
      }
      @media (max-width: 556px) {
        right: 20px;
      }
    }
  }
  &_bottom {
    margin-top: 55px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
    @media (max-width: 556px) {
      margin-top: 30px;
    }
    &_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex: 0 0 auto;
      }
    }
    &_item:first-child {
      a {
        border-bottom: 1px solid #7b7b7b;
        color: #7b7b7b;
        text-decoration: none;
      }
    }
    &_item:nth-child(3) {
      p.first {
        margin-bottom: 18px;
      }
    }
  }
  &_bottom_items {
    width: 70%;
    justify-content: space-between;
    @media (max-width: 992px) {
      width: 80%;
      gap: 20px;
    }
    @media (max-width: 768px) {
      width: 100%;
      flex-wrap: wrap;
    }
    p {
      color: #7b7b7b;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
    }
  }
  &_contacts {
    list-style: none;
    margin-top: 15px;
    a {
      color: #7b7b7b;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      text-decoration: none;
    }
    li {
      line-height: 0;
      height: fit-content;
    }
    li:first-child {
      a {
        text-decoration: underline;
      }
    }
  }
  &_social {
    gap: 5px;
    margin-top: 13px;
    list-style: none;

    a {
      border-radius: 40px;
      border: 1px solid #4a4a4a !important;
      text-decoration: none;
      color: #7b7b7b;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 10px;
      padding: 3px 18px 4px 4px;
      min-width: 153px;
    }
  }
  &_top {
    br {
      @media (max-width: 556px) {
        display: none;
      }
    }
    img {
      @media (max-width: 556px) {
        max-width: 47px;
      }
      @media (max-width: 446px) {
        max-width: 30px;
      }
      &:last-child {
        @media (max-width: 556px) {
          width: 12px;
        }
      }
    }
  }
}
