.footer {
  border-radius: 16px;
  background: #0d0b0e;
  padding: 58px 0 32px;
  margin-top: 90px;
  &_title {
    text-align: center;
    color: #5a585b;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    span {
      color: #f0f0f0;
    }
  }
  &_content {
    color: #8f8d90;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    span {
      color: #20ae44;
    }
  }
}
