.hero {
  padding-top: 229px;
  @media (max-width: 992px) {
    padding-top: 120px;
  }
  @media (max-width: 768px) {
    padding-top: 80px;
  }
  &_title {
    color: #020202;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: normal;
    }
    @media (max-width: 768px) {
      text-align: center;
      font-size: 29px;
    }
    span {
      color: #fa3600;
    }
  }
  &__text {
    margin-bottom: 50px;
  }
  .container {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &_left {
    width: calc(80% - 50px);
    @media (max-width: 992px) {
      width: calc(80% - 20px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    p {
      margin-top: 50px;
      color: #6e6e6e;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 150% */
      @media (max-width: 992px) {
        margin-top: 26px;
        font-size: 16px;
        line-height: normal;
      }
      @media (max-width: 768px) {
        text-align: center;
        margin-top: 20px;
      }
    }
    .button {
      width: fit-content;
      margin-top: 55px;
      @media (max-width: 992px) {
        margin-top: 26px;
      }
      @media (max-width: 768px) {
        margin: 20px auto 0;
      }
      img {
        top: -4px;
        position: relative;
        animation: arrow_move 1.5s ease-in-out infinite;
      }
    }
  }
  @keyframes arrow_move {
    0% {
      transform: translate(0%, 0);
      opacity: 1;
    }
    50% {
      transform: translate(0%, 3px);
      opacity: 0.6;
    }
    100% {
      transform: translate(0%, 0);
      opacity: 1;
    }
  }
  &_bottom {
    color: #a6a4a0;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-top: 55px;
    @media (max-width: 768px) {
      margin-top: 20px;
      line-height: normal;
      font-size: 12px;
      text-align: center;
    }
  }
  &_img {
    width: calc(20% - 50px);
    @media (max-width: 992px) {
      width: calc(20% - 5px);
      img {
        max-width: 150%;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
    svg {
      @media (max-width: 768px) {
        width: 60%;
        object-fit: contain;
        height: fit-content;
      }
    }
    .animtion_top {
      animation: top_move 2s ease-in-out infinite;
    }
    .animtion_bottom {
      animation: bottom_move 2.5s ease-in-out infinite;
    }
    .animtion_right {
      animation: right_move 2.3s ease-in-out infinite;
    }
    @keyframes top_move {
      0% {
        transform: translate(0%, 0);
        opacity: 1;
      }
      50% {
        transform: translate(0%, -7px);
        opacity: 0.8;
      }
      100% {
        transform: translate(0%, 0);
        opacity: 1;
      }
    }
    @keyframes bottom_move {
      0% {
        transform: translate(0%, 0);
      }
      50% {
        transform: translate(0%, 3px);
      }
      100% {
        transform: translate(0%, 0);
      }
    }
    @keyframes right_move {
      0% {
        transform: translate(0%, 0);
        opacity: 1;
      }
      50% {
        transform: translate(7px, 0);
        opacity: 0.9;
      }
      100% {
        transform: translate(0%, 0);
        opacity: 1;
      }
    }
  }
}
