* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@import "header";
@import "hero";
@import "dzen";
@import "clients";
@import "form";
@import "intro";
@import "seo";
@import "business";
@import "works";
@import "faq";
@import "footer";
body {
  background: #fff;
  color: #6e6e6e;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  overflow: hidden;
}
.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.a_center {
    align-items: center;
  }

  &.a_start {
    align-items: flex-start;
  }

  &.a_end {
    align-items: flex-end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
.button {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 14px;
  border-radius: 25px;
  background: #000;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  &:hover {
    transform: scale(1.09);
  }
  span {
    color: #fff;
  }
}
.section_title {
  color: #020202;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  span {
    color: #fa3600;
  }
  @media (max-width: 992px) {
    font-size: 45px;
    line-height: normal;
  }
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: normal;
  }
  @media (max-width: 556px) {
    font-size: 22px;
    line-height: normal;
  }
}
.subtitle {
  color: #adadad;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.custom_checkbox {
  position: relative;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    width: 16px;
    height: 16px;
    border: 1px solid #9a9a9a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    transition: all 0.2s ease;
    background: transparent;

    svg {
      opacity: 0;
      transform: scale(0.7);
      transition: all 0.2s ease;
    }
  }

  input:checked + .checkmark {
    background: transparent;
    border-color: #9a9a9a;

    svg {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover .checkmark {
    border-color: #bcbcbc;
  }
}
.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  background: #00000033;
  z-index: 1233;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &_content {
    border-radius: 16px;
    background: #fff;
    padding: 72px;
    width: 100%;
    max-width: 584px;
    padding-bottom: 52px;
    position: relative;
    margin: 0 auto;
  }
  &_exit {
    position: absolute;
    top: 17px;
    right: 19px;
    z-index: 2;
    cursor: pointer;
  }
  &_title {
    color: #020202;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin-top: 18px;
    
  }
  p {
    color: #888588;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 19px;
  }
}
