* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  padding-top: 62px;
  transition: all 0.3s linear;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .header {
    padding-top: 32px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 1024px) {
  .header .container {
    align-items: center !important;
  }
}
@media (max-width: 992px) {
  .header .container {
    gap: 16px;
  }
}
.header_logo {
  gap: 30px;
}
@media (max-width: 1024px) {
  .header_logo img:last-child {
    display: none;
  }
}
.header_logo img {
  transition: all 0.3s linear;
}
@media (max-width: 1024px) {
  .header_logo img {
    max-width: 120px;
  }
}
.header ul {
  gap: 30px;
  list-style: none;
  padding-top: 14px;
  transition: all 0.3s linear;
}
@media (max-width: 1080px) {
  .header ul {
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .header ul {
    padding-top: 0;
  }
}
.header_mobile {
  display: none;
  transition: all 0.3s linear;
}
@media (max-width: 992px) {
  .header_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 52px);
    overflow-y: auto;
    position: absolute;
    background: #fff;
    right: -100%;
    padding: 15px 0;
  }
}
.header_mobile.active {
  right: 0;
}
@media (max-width: 992px) {
  .header_mobile .header_buttons {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .header .desctop {
    display: none;
  }
}
.header_burger {
  display: none;
}
@media (max-width: 992px) {
  .header_burger {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    z-index: 5;
    width: 30px;
  }
}
.header_burger span {
  width: 30px;
  height: 3px;
  background: #000;
  flex: 0 0 auto;
  margin: 3px 0;
  display: block;
}
.header_burger.active {
  position: relative;
}
.header_burger.active span {
  position: absolute;
  inset: 0;
  margin: auto;
}
.header_burger.active span:nth-child(1) {
  transform: rotate(45deg);
}
.header_burger.active span:nth-child(2) {
  display: none;
}
.header_burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.header a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s linear;
}
.header a:hover {
  color: #ff0000;
}
.header_buttons {
  padding-top: 7px;
  gap: 16px;
  transition: all 0.3s linear;
}
@media (max-width: 1080px) {
  .header_buttons {
    gap: 8px;
  }
}
@media (max-width: 1024px) {
  .header_buttons {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .header_buttons {
    margin-left: auto;
    gap: 16px;
  }
}
.header_buttons .button {
  margin-right: 4px;
}
.header_buttons a:not(.button) {
  transition: all 0.2s linear;
}
.header_buttons a:not(.button):hover {
  transform: scale(1.09);
}
@media (max-width: 1024px) {
  .header_buttons a:not(.button) img {
    width: 36px;
  }
}
.header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  padding: 22px 0;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
  .header.active {
    padding: 15px 0;
  }
}
.header.active .header_logo img:last-child {
  display: none;
}
.header.active .header_logo img {
  width: 101px;
}
.header.active ul {
  padding-top: 0;
}
.header.active .header_contact {
  padding-top: 0;
}
.header.active .container {
  align-items: center;
  gap: 40px;
}
@media (max-width: 992px) {
  .header.active .container {
    gap: 16px;
  }
}
.header.active .header_links {
  margin-left: auto;
}
@media (max-width: 992px) {
  .header.active .header_links {
    margin-left: 0;
  }
}

.hero {
  padding-top: 229px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 120px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 80px;
  }
}
.hero_title {
  color: #020202;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
@media (max-width: 1024px) {
  .hero_title {
    font-size: 36px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .hero_title {
    text-align: center;
    font-size: 29px;
  }
}
.hero_title span {
  color: #fa3600;
}
.hero__text {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .hero .container {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.hero_left {
  width: calc(80% - 50px);
}
@media (max-width: 992px) {
  .hero_left {
    width: calc(80% - 20px);
  }
}
@media (max-width: 768px) {
  .hero_left {
    width: 100%;
  }
}
.hero_left p {
  margin-top: 50px;
  color: #6e6e6e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
@media (max-width: 992px) {
  .hero_left p {
    margin-top: 26px;
    font-size: 16px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .hero_left p {
    text-align: center;
    margin-top: 20px;
  }
}
.hero_left .button {
  width: fit-content;
  margin-top: 55px;
}
@media (max-width: 992px) {
  .hero_left .button {
    margin-top: 26px;
  }
}
@media (max-width: 768px) {
  .hero_left .button {
    margin: 20px auto 0;
  }
}
.hero_left .button img {
  top: -4px;
  position: relative;
  animation: arrow_move 1.5s ease-in-out infinite;
}
@keyframes arrow_move {
  0% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 3px);
    opacity: 0.6;
  }
  100% {
    transform: translate(0%, 0);
    opacity: 1;
  }
}
.hero_bottom {
  color: #a6a4a0;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  margin-top: 55px;
}
@media (max-width: 768px) {
  .hero_bottom {
    margin-top: 20px;
    line-height: normal;
    font-size: 12px;
    text-align: center;
  }
}
.hero_img {
  width: calc(20% - 50px);
}
@media (max-width: 992px) {
  .hero_img {
    width: calc(20% - 5px);
  }
  .hero_img img {
    max-width: 150%;
  }
}
@media (max-width: 768px) {
  .hero_img {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero_img img {
    width: 60%;
    object-fit: contain;
  }
}

.dzen {
  padding-top: 107px;
}
@media (max-width: 992px) {
  .dzen {
    padding-top: 70px;
  }
}
@media (max-width: 768px) {
  .dzen {
    padding-top: 60px;
  }
}
@media (max-width: 556px) {
  .dzen {
    padding-top: 40px;
  }
}
.dzen_top .subtitle {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .dzen_top .subtitle {
    margin-top: 15px;
    line-height: normal;
  }
}
.dzen_items {
  margin-top: 42px;
  gap: 37px 0;
}
@media (max-width: 768px) {
  .dzen_items {
    gap: 20px 0;
  }
}
.dzen_item {
  width: calc(50% - 24px);
  border-radius: 16px;
  border: 1px solid #e0e0e0;
}
@media (max-width: 992px) {
  .dzen_item {
    width: calc(50% - 14px);
  }
}
@media (max-width: 768px) {
  .dzen_item {
    width: 100%;
  }
}
.dzen_item_top {
  padding: 30px 30px 37px;
  border-radius: 16px;
  background: #f1f1f1;
}
@media (max-width: 992px) {
  .dzen_item_top {
    padding: 30px;
  }
}
.dzen_item_top img {
  height: 100%;
  max-height: 388px;
}
@media (max-width: 992px) {
  .dzen_item_top img {
    min-height: auto;
    height: 246px;
  }
}
@media (max-width: 768px) {
  .dzen_item_top img {
    height: auto;
    max-height: 397px;
  }
}
.dzen_item_title {
  color: #030303;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .dzen_item_title {
    font-size: 20px;
    line-height: normal;
  }
}
.dzen_item_title span {
  color: #fa3600;
}
.dzen_item_imgs {
  justify-content: space-between;
}
.dzen_item_imgs img {
  width: calc(50% - 3px);
}
.dzen_item_info {
  padding: 30px 0 37px 50px;
}
@media (max-width: 992px) {
  .dzen_item_info {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .dzen_item_info {
    padding: 18px;
  }
}
.dzen_item_info span {
  flex: 0 0 auto;
}
.dzen_item_info img:first-child {
  max-width: 31px;
  width: 100%;
}
.dzen_item_info_title {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
@media (max-width: 992px) {
  .dzen_item_info_title {
    font-size: 18px;
    line-height: normal;
  }
}
.dzen_item_info a {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 30px;
  border: 1px solid #c9c9c9;
  gap: 12px;
  width: fit-content;
  padding: 2px 15px 3px 3px;
  text-decoration: none;
  margin-top: 19px;
  align-items: center;
}
@media (max-width: 992px) {
  .dzen_item_info a {
    font-size: 13px;
    gap: 6px;
  }
}
@media (max-width: 768px) {
  .dzen_item_info a {
    font-size: 11px;
    font-weight: 500;
    gap: 5px;
    line-height: normal;
  }
}
.dzen_item_info p {
  color: #888588;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px;
}
@media (max-width: 768px) {
  .dzen_item_info p {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }
}
.dzen_item_bottom {
  margin-top: 19px;
}

.clients {
  padding-top: 50px;
}
@media (max-width: 556px) {
  .clients {
    padding-top: 40px;
  }
}
.clients_items {
  margin-top: 22px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.clients_item {
  width: 25%;
  min-height: 156px;
  padding: 27px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
@media (max-width: 992px) {
  .clients_item {
    padding: 17px 14px;
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .clients_item {
    width: 50%;
    padding: 16px 8px;
  }
}
.clients_item_img {
  max-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .clients_item_img img {
    max-width: 90%;
  }
}
.clients_item p {
  color: #888588;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
@media (max-width: 768px) {
  .clients_item p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .clients_item p br {
    display: none;
  }
}

.form {
  margin-top: 45px;
}
@media (max-width: 768px) {
  .form {
    margin-top: 40px;
  }
}
.form_title {
  color: #f0f0f0;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  max-width: 768px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .form_title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .form_title {
    font-size: 20px;
    line-height: normal;
  }
}
.form_content {
  border-radius: 16px;
  background: #2c2c2c;
  padding: 37px 59px 40px 50px;
}
@media (max-width: 768px) {
  .form_content {
    padding: 35px 25px;
  }
}
@media (max-width: 992px) {
  .form_content .form_inputs {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 30px;
  }
}
@media (max-width: 992px) {
  .form_content .form_inputs label {
    flex: 1 1 auto;
    width: calc(50% - 40px);
  }
}
@media (max-width: 768px) {
  .form_content .form_inputs label {
    width: 100%;
  }
}
.form_content label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form_content label span {
  color: #b0b0b0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
@media (max-width: 768px) {
  .form_content label span {
    line-height: 24px;
  }
}
.form_content label input {
  height: 56px;
  border-radius: 5px;
  background: #a5a5a5;
  width: 100%;
  border: 0;
  padding: 16px;
  outline: 0;
}
.form_content label p {
  color: #a4a4a4;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .form_content label p {
    font-size: 16px;
    line-height: normal;
  }
}
.form_content button {
  border-radius: 5px;
  background: #20ae44;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100%;
  outline: none;
  border: 0;
  display: block;
  cursor: pointer;
  height: 56px;
  transition: all 0.2s linear;
}
.form_content button:hover {
  transform: scale(1.05);
}
.form_content_checked {
  gap: 14px;
  margin-top: 23px;
}
.form_content_checked a {
  color: inherit;
}
.form_inputs {
  gap: 21px;
  margin-top: 16px;
}
.form.white {
  margin-top: 120px;
  padding-bottom: 87px;
}
@media (max-width: 992px) {
  .form.white {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .form.white {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}
.form.white .form_content {
  padding: 0;
  position: relative;
}
.form.white .form_content .form_img {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .form.white .form_content .form_img {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .form.white .form_content .form_img {
    width: 270px;
  }
}
@media (max-width: 556px) {
  .form.white .form_content .form_img {
    width: 120px;
    top: 60px;
  }
}
.form.white .form_content label {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form.white .form_content label span {
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.form.white .form_content label input {
  height: 56px;
  border-radius: 5px;
  width: 100%;
  border: 0;
  padding: 16px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  background: #fff;
}
.form.white .form_content button {
  border-radius: 5px;
  background: #000;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100%;
  outline: none;
  border: 0;
  display: block;
  cursor: pointer;
  height: 56px;
}
.form.white .form_content_checked {
  gap: 14px;
  margin-top: 23px;
}
@media (max-width: 768px) {
  .form.white .form_content_checked {
    font-size: 14px;
    align-items: start !important;
  }
}
.form.white .form_content_checked a {
  color: inherit;
}
.form.white .form_content_checked p {
  color: #a4a4a4;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .form.white .form_content_checked p {
    font-size: 16px;
  }
}
.form.white .form_title {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  line-height: 60px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .form.white .form_title {
    position: relative;
    z-index: 2;
    font-size: 42px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .form.white .form_title {
    font-size: 32px;
  }
}
@media (max-width: 556px) {
  .form.white .form_title {
    font-size: 26px;
    line-height: normal;
  }
}
.form.white .form_title span {
  color: #fa3600;
}
@media (max-width: 768px) {
  .form.white .form_title br {
    display: none;
  }
}
.form.white .form_content {
  background: #fff;
}
.form.white .form_content label span {
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}
.form.white .form_content .form_content_checked {
  flex-direction: row;
}
@media (max-width: 992px) {
  .form.white .form_content .form_content_checked {
    margin-top: 20px;
    align-items: center !important;
  }
}
.form.white .form_content .form_content_checked p {
  color: #848484;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form.white .form_inputs {
  gap: 20px;
  position: relative;
}
@media (max-width: 992px) {
  .form.white .form_inputs {
    flex-wrap: wrap;
  }
}
@media (max-width: 556px) {
  .form.white .form_inputs {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .form.white .form_inputs label {
    width: calc(50% - 10px);
    flex: 1 1 auto;
  }
}
@media (max-width: 556px) {
  .form.white .form_inputs label {
    width: 100%;
  }
}
@media (max-width: 556px) {
  .form.white .form_inputs label span {
    font-size: 14px;
    line-height: 26px;
  }
}

.intro {
  padding-top: 48px;
}
@media (max-width: 768px) {
  .intro {
    padding-top: 40px;
  }
}
@media (max-width: 556px) {
  .intro {
    padding-top: 30px;
  }
}
@media (max-width: 1084px) {
  .intro .section_title {
    font-size: 54px;
  }
}
@media (max-width: 992px) {
  .intro .section_title {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .intro .section_title {
    font-size: 26px;
  }
}
@media (max-width: 556px) {
  .intro .section_title {
    font-size: 19px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .intro .section_title br {
    display: none;
  }
}
.intro_content {
  border-radius: 16px;
  padding: 58px 113px 56px 100px;
  border: 1px solid #dfdfdf;
}
@media (max-width: 992px) {
  .intro_content {
    padding: 38px 80px;
  }
}
@media (max-width: 768px) {
  .intro_content {
    padding: 38px 40px;
  }
}
@media (max-width: 556px) {
  .intro_content {
    padding: 30px 20px;
  }
}
.intro_text {
  margin-top: 60px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 992px) {
  .intro_text {
    font-size: 18px;
    margin-top: 30px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .intro_text {
    font-size: 14px;
    margin-top: 25px;
  }
}
.intro_bottom {
  color: #a8a8a8;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 50px;
  gap: 15px;
}
@media (max-width: 992px) {
  .intro_bottom {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .intro_bottom {
    margin-top: 25px;
    font-size: 12px;
    gap: 8px;
  }
}
@media (max-width: 556px) {
  .intro_bottom {
    margin-top: 20px;
    line-height: normal;
    flex-direction: column;
  }
}
.intro_bottom a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #a8a8a8;
}

.seo {
  padding: 97px 0 0;
}
@media (max-width: 1024px) {
  .seo {
    padding: 70px 0 0;
  }
}
@media (max-width: 768px) {
  .seo {
    padding: 40px 0 0;
  }
}
.seo_top {
  color: #000;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  gap: 60px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .seo_top {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .seo_top {
    font-size: 32px;
    gap: 24px;
  }
}
@media (max-width: 556px) {
  .seo_top {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .seo_top img {
    width: 17px;
  }
}
.seo_subtitle {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .seo_subtitle {
    margin-top: 14px;
    font-size: 20px;
    line-height: normal;
  }
}
.seo_subtitle span {
  color: #fa3600;
}
.seo_texts {
  display: flex;
  flex-direction: column;
  gap: 35px;
  color: #6e6e6e;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 34px;
}
@media (max-width: 768px) {
  .seo_texts {
    margin-top: 20px;
    font-size: 16px;
    gap: 15px;
    line-height: normal;
  }
}
@media (max-width: 556px) {
  .seo_texts {
    font-size: 14px;
    gap: 15px;
  }
}

.business {
  background: #1b1b1b;
  padding: 106px 0 101px;
  margin-top: 100px;
  position: relative;
}
@media (max-width: 992px) {
  .business {
    margin-top: 30px;
    padding: 56px 0 51px;
  }
}
@media (max-width: 768px) {
  .business {
    margin-top: 30px;
    padding: 30px 0 30px;
  }
}
.business .container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 80%, rgb(0, 0, 0) 100%), linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to bottom, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to left, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 40%);
}
@media (max-width: 556px) {
  .business .container::before {
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to bottom, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to left, rgb(0, 0, 0) 0%, transparent 40%), linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 40%);
  }
}
.business .section_title {
  color: #fff;
  position: relative;
  z-index: 22;
}
.business .section_title span {
  color: #606060;
}
.business .section_title {
  margin-bottom: 84px;
}
@media (max-width: 992px) {
  .business .section_title {
    margin-bottom: 23px;
  }
}
@media (max-width: 768px) {
  .business .section_title {
    margin-bottom: 18px;
  }
}
@media (max-width: 556px) {
  .business .section_title {
    margin-bottom: 10px;
  }
}
.business_items {
  gap: 17px 30px;
  list-style: none;
  margin-top: 17px;
}
@media (max-width: 992px) {
  .business_items {
    gap: 15px 20px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .business_items {
    gap: 12px 17px;
    margin-top: 12px;
  }
}
@media (max-width: 556px) {
  .business_items {
    gap: 10px 15px;
    margin-top: 10px;
  }
}
.business_items li {
  flex: 0 0 auto;
}
.business_items a {
  color: #919191;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  border-radius: 40px;
  border: 1px solid #323232;
  background: #1b1b1b;
  text-decoration: none;
  padding: 2px 25px;
  display: block;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  .business_items a {
    font-size: 13px;
    padding: 2px 20px;
    line-height: 36px;
  }
}
@media (max-width: 556px) {
  .business_items a {
    font-size: 12px;
    line-height: 25px;
    padding: 2px 15px;
  }
}
.business_items a:hover {
  color: #0b0b0b;
  background: #fff;
  position: relative;
  z-index: 22;
}
.business_bottom {
  color: #a4a4a4;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  max-width: 620px;
  margin-top: 85px;
  position: relative;
  z-index: 5;
}
@media (max-width: 992px) {
  .business_bottom {
    margin-top: 40px;
    font-size: 16px;
  }
}
@media (max-width: 556px) {
  .business_bottom {
    margin-top: 20px;
    font-size: 15px;
  }
}
.business_bottom span {
  color: #fff;
}

.works {
  padding-top: 96px;
}
@media (max-width: 768px) {
  .works {
    padding-top: 60px;
  }
}
@media (max-width: 556px) {
  .works {
    padding-top: 40px;
  }
}
.works_steps {
  margin-top: 51px;
}
@media (max-width: 768px) {
  .works_steps {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .works_steps {
    margin-top: 20px;
  }
}
.works_step {
  padding: 24px 18px 32px 30px;
  border: 1px solid #cdcdc4;
  width: 25%;
}
@media (max-width: 1024px) {
  .works_step {
    padding: 18px 10px 20px 20px;
  }
}
@media (max-width: 768px) {
  .works_step {
    width: 50%;
  }
}
@media (max-width: 556px) {
  .works_step {
    width: 100%;
    padding: 18px 15px 20px 15px;
  }
}
.works_step:nth-child(1) {
  border-radius: 16px 0 0 16px;
  border-right: 0;
}
@media (max-width: 768px) {
  .works_step:nth-child(1) {
    border-radius: 16px 0px 0 0;
    border-bottom: 0;
  }
}
@media (max-width: 556px) {
  .works_step:nth-child(1) {
    border-radius: 16px 16px 0 0;
    border-right: 1px solid #cdcdc4;
  }
}
.works_step:nth-child(2) {
  border-right: 0;
}
@media (max-width: 768px) {
  .works_step:nth-child(2) {
    border-radius: 0px 16px 0 0;
    border-bottom: 0;
    border-right: 1px solid #cdcdc4;
  }
}
@media (max-width: 556px) {
  .works_step:nth-child(2) {
    border-radius: 0;
    border-right: 1px solid #cdcdc4;
  }
}
@media (max-width: 768px) {
  .works_step:nth-child(3) {
    border-radius: 0 0 0 16px;
    border-bottom: 1px solid #cdcdc4;
    border-right: 0;
  }
}
@media (max-width: 556px) {
  .works_step:nth-child(3) {
    border-radius: 0;
    border-right: 1px solid #cdcdc4;
    border-bottom: 0;
  }
}
.works_step:nth-child(4) {
  border-left: 0;
  border-radius: 0 16px 16px 0;
}
@media (max-width: 768px) {
  .works_step:nth-child(4) {
    border-radius: 0 0 16px 0;
    border-top: 1px solid #cdcdc4;
    border-left: 1px solid #cdcdc4;
  }
}
@media (max-width: 556px) {
  .works_step:nth-child(4) {
    border-radius: 0 0 16px 16px;
  }
}
.works_step_top {
  color: #fa3600;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.works_step_title {
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-height: 70px;
}
@media (max-width: 1024px) {
  .works_step_title {
    font-size: 16px;
    min-height: 60px;
  }
}
@media (max-width: 556px) {
  .works_step_title {
    min-height: auto;
  }
}
.works_step_text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (max-width: 1024px) {
  .works_step_text {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .works_step_text {
    margin-top: 20px;
  }
}
@media (max-width: 556px) {
  .works_step_text {
    margin-top: 16px;
  }
}
.works_step p {
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq {
  padding-top: 55px;
}
@media (max-width: 992px) {
  .faq {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .faq {
    padding-top: 0px;
  }
}
.faq .section_title {
  text-align: left;
}
.faq_items {
  gap: 22px;
  margin-top: 48px;
}
@media (max-width: 992px) {
  .faq_items {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .faq_items {
    margin-top: 20px;
    gap: 16px;
  }
}
.faq_header {
  color: #1f1f1f;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .faq_header {
    font-size: 16px;
  }
}
.faq_header span {
  color: #1f1f1f;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s linear;
}
.faq_item {
  padding: 24px 34px;
  border-radius: 16px;
  background: #f2f0f3;
  transition: all 0.5s linear;
}
@media (max-width: 768px) {
  .faq_item {
    padding: 20px 18px;
    border-radius: 8px;
  }
}
.faq_item p {
  margin-top: 25px;
  color: #000;
  font-weight: 500;
}
.faq .minus {
  display: none;
}
.faq_content {
  height: 0;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}
.faq_content p {
  margin-top: 0;
  font-size: 18px;
}
@media (max-width: 768px) {
  .faq_content p {
    font-size: 14px;
    line-height: normal;
  }
}
.faq_item.active .faq_content {
  position: relative;
  transform: scaleY(1);
  opacity: 1;
}
.faq_item.active .faq_content p {
  padding-top: 20px;
}
.faq_item.active .faq_header span.plus {
  display: none;
}
.faq_item.active .faq_header span.minus {
  display: block;
}

.footer {
  padding-top: 90px;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .footer {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}
.footer .container {
  border-radius: 16px;
  background: #0d0b0e;
  padding: 58px 40px 32px 60px;
}
@media (max-width: 992px) {
  .footer .container {
    padding: 58px 20px 32px 20px;
  }
}
@media (max-width: 556px) {
  .footer .container {
    padding: 38px 18px 22px 15px;
  }
}
.footer_title {
  text-align: center;
  color: #5a585b;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
@media (max-width: 992px) {
  .footer_title {
    font-size: 32px;
  }
}
@media (max-width: 556px) {
  .footer_title {
    font-size: 20px;
    line-height: normal;
  }
}
.footer_title span {
  color: #f0f0f0;
}
.footer .button {
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 245px;
  text-align: center;
  width: 100%;
  margin-top: 38px;
  justify-content: center;
}
@media (max-width: 556px) {
  .footer .button {
    margin-top: 20px;
  }
}
@media (max-width: 446px) {
  .footer .button {
    max-width: 175px;
  }
}
.footer_content {
  color: #8f8d90;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 32px;
}
@media (max-width: 556px) {
  .footer_content {
    margin-top: 20px;
    font-size: 12px;
  }
}
.footer_content span {
  color: #20ae44;
}
.footer_button {
  position: relative;
  width: 100%;
}
.footer_button img {
  position: absolute;
  right: 140px;
  bottom: 14px;
  width: 18px;
}
@media (max-width: 992px) {
  .footer_button img {
    right: 100px;
  }
}
@media (max-width: 556px) {
  .footer_button img {
    right: 20px;
  }
}
.footer_bottom {
  margin-top: 55px;
}
@media (max-width: 768px) {
  .footer_bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 556px) {
  .footer_bottom {
    margin-top: 30px;
  }
}
.footer_bottom_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer_bottom_item {
    flex: 0 0 auto;
  }
}
.footer_bottom_item:first-child a {
  border-bottom: 1px solid #7b7b7b;
  color: #7b7b7b;
  text-decoration: none;
}
.footer_bottom_item:nth-child(3) p.first {
  margin-bottom: 18px;
}
.footer_bottom_items {
  width: 70%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer_bottom_items {
    width: 80%;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer_bottom_items {
    width: 100%;
    flex-wrap: wrap;
  }
}
.footer_bottom_items p {
  color: #7b7b7b;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.footer_contacts {
  list-style: none;
  margin-top: 15px;
}
.footer_contacts a {
  color: #7b7b7b;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
}
.footer_contacts li {
  line-height: 0;
  height: fit-content;
}
.footer_contacts li:first-child a {
  text-decoration: underline;
}
.footer_social {
  gap: 5px;
  margin-top: 13px;
  list-style: none;
}
.footer_social a {
  border-radius: 40px;
  border: 1px solid #4a4a4a !important;
  text-decoration: none;
  color: #7b7b7b;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  padding: 3px 18px 4px 4px;
  min-width: 153px;
}
@media (max-width: 556px) {
  .footer_top br {
    display: none;
  }
}
@media (max-width: 556px) {
  .footer_top img {
    max-width: 47px;
  }
}
@media (max-width: 446px) {
  .footer_top img {
    max-width: 30px;
  }
}
@media (max-width: 556px) {
  .footer_top img:last-child {
    width: 12px;
  }
}

body {
  background: #fff;
  color: #6e6e6e;
  font-family: "Gilroy";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.start {
  justify-content: flex-start;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}
.flex.a_center {
  align-items: center;
}
.flex.a_start {
  align-items: flex-start;
}
.flex.a_end {
  align-items: flex-end;
}
.flex.wrap {
  flex-wrap: wrap;
}

.button {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 14px;
  border-radius: 25px;
  background: #000;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}
.button:hover {
  transform: scale(1.09);
}
.button span {
  color: #fff;
}

.section_title {
  color: #020202;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.section_title span {
  color: #fa3600;
}
@media (max-width: 992px) {
  .section_title {
    font-size: 45px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .section_title {
    font-size: 36px;
    line-height: normal;
  }
}
@media (max-width: 556px) {
  .section_title {
    font-size: 22px;
    line-height: normal;
  }
}

.subtitle {
  color: #adadad;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 16px;
  }
}

.custom_checkbox {
  position: relative;
  align-items: center;
  cursor: pointer;
}
.custom_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom_checkbox .checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid #9a9a9a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: all 0.2s ease;
  background: transparent;
}
.custom_checkbox .checkmark svg {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.2s ease;
}
.custom_checkbox input:checked + .checkmark {
  background: transparent;
  border-color: #9a9a9a;
}
.custom_checkbox input:checked + .checkmark svg {
  opacity: 1;
  transform: scale(1);
}
.custom_checkbox:hover .checkmark {
  border-color: #bcbcbc;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1233;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal_content {
  border-radius: 16px;
  background: #fff;
  padding: 72px;
  width: 100%;
  max-width: 584px;
  padding-bottom: 52px;
  position: relative;
  margin: 0 auto;
}
.modal_exit {
  position: absolute;
  top: 17px;
  right: 19px;
  z-index: 2;
  cursor: pointer;
}
.modal_title {
  color: #020202;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  margin-top: 18px;
}
.modal p {
  color: #888588;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 19px;
}/*# sourceMappingURL=style.css.map */